@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-second: #042445;
  --background-primary: #021d38;
}
body {
  background: var(--background-second);
}
.content-container {
  background-color: #1e1e1e;
  color: #ffffff;
  border: 2px solid #444444;
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.monaco-editor {
  font-family: "Courier New", Courier, monospace;
}

/* Para navegadores WebKit (Chrome, Safari) */
.scroll-style::-webkit-scrollbar {
  width: 5px;
}

.scroll-style::-webkit-scrollbar-thumb {
  background: #52dd52;
  border-radius: 15px;
}

.scroll-style::-webkit-scrollbar-track {
  background: #52dd52;
}

.scroll-style::-webkit-scrollbar-thumb:hover {
  background: #52dd52;
}

/* Para Firefox */
.scroll-style {
  scrollbar-width: thin;
  scrollbar-color: #03daf1 #1c1c1c;
}
